[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec="hackvr_open" %f
Name=hackvr_open
MimeType=application/hackvr
Comment=hackvr_open
